<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
        <p>index</p>
        <img src="<%= require('../../assets/images/8devices.png')  %>" alt="" height="200px">
        <div class="zhu">zhu page</div>
        <button class="clickMe">点我</button>
        
</body>
</html>